@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

header {
    background-color: #4805A6;
    height: 150px;

}
header .logo{
    width: 100px;
    height: 100px;
}



header .menu-principal ul{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 15px 50px;
    display: flex;
}

.menu-principal ul>*:first-child {
    margin-right: auto;

}

.menu-principal li a{
    margin: 15px 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

.menu-principal li a:hover{
    margin: 15px 10px;
    padding: 5px 10px;
    color: #ddd;
    transition: 100ms;
    border-bottom: #ddd solid 1px;
}